@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

/* ===== GLOBAL SCROLLBAR ===== */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #9e4673, #3d4a59);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(270deg, #9e4673, #3d4a59);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #9e4673 #3d4a59;
}
